# Conecta com o BD

In [49]:
import mysql.connector

con = mysql.connector.connect(
    user='root', password='superuser',
    host='localhost',
    database='locadora')

# Insere valores no BD

In [15]:
from datetime import date

cursor = con.cursor()

add_cliente = ("INSERT INTO cliente (cpf_cli, nome_cli, cidade_cli, data_cadastro)"
               "VALUES (%s, %s, %s, %s)")

data_cliente = ('04359971245', 'Diego', 'Fortaleza', date(1992, 1, 16))

# Insere novo cliente
cursor.execute(add_cliente, data_cliente)
cliente_no = cursor.lastrowid

print(cliente_no)

con.commit()

cursor.close()

IntegrityError: 1062 (23000): Duplicate entry '04359971245' for key 'cpf_cli'

# Recupera valores do BD

In [50]:
import datetime

cursor = con.cursor()

query = ("SELECT nome_cli, cpf_cli FROM cliente WHERE cidade_cli LIKE %s")

# query = ("SELECT first_name, last_name, hire_date FROM employees "
#          "WHERE hire_date BETWEEN %s AND %s")

# hire_start = datetime.date(1999, 1, 1)
# hire_end = datetime.date(1999, 12, 31)

cursor.execute(query, ("Aco%",) )


# myresult = cursor.fetchall()

# for (nome_cli, cpf_cli) in myresult:
#     print("{}, {}".format(nome_cli, cpf_cli))


# numrows = int(cursor.rowcount)

# print(numrows)

for (nome_cli, cpf_cli) in cursor:
    print("{}, {}".format(nome_cli, cpf_cli))

cursor.close()

Antonio Carlos, 00052421243
Andr√©, 02252571243
Francisca Maria, 10252821243
Francisca Clara, 90252421203

True

In [48]:
con.close()